<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi </h1>
    <p>
      Thank you for visiting vital.com<br>
    </p>
    <p>
      Based on your input, you may want to consider adding more of these nutrients into your diet.  
    </p>
    <p>
      <% @nutrients.each do |nutrient| %>
      <p><%= nutrient.name %></p>
      <p><%= nutrient.information %></p>
      <% end %>
    </p>
  </body>
</html>