.about_heading {
	font-size: 70px;
}

.about_section {
	background-color: rgb(255,255,250);
	color: black;
	font-family: georgia;
	text-align: left;

}
.home_paragraph {
	text-align: justify;
	color: rgba(10, 45, 15, 1);
}

.form {
	background-color: white;
	color: rgba(174, 67, 112, .9);
}
.page-header {
	text-align: center;
	padding-left: 100pt;
	padding-right: 100pt;
	background-color: rgba(174, 67, 112, 1);
	color: white;
	padding-top: 5pt;
	text-transform: none;
}
.brand-heading {
	font-family: euro caps;
}

.form_body {
	padding-left: 100pt;
	padding-right: 100pt;
}

section#about {
  padding-top: 80px;
  padding-bottom: 80px;
 }


@media(min-width:768px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: black;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    color: black;
}


.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid black;
    color: black;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid black;
    outline: 0;
    color: #000;
    background-color: black;
}

section#download.content-section.text-center {
	background-color: rgba(174, 67, 112, .9);
}