.about_heading {
	font-size: 70px;
}

.about_section {
	background-color: rgb(255,255,250);
	color: black;
	font-family: georgia;
	text-align: left;

}
.home_paragraph {
	text-align: justify;
}

.form {
	background-color: white;
	color: rgba(228, 78, 58, 1);
}
.page-header {
	text-align: center;
	padding-left: 100pt;
	padding-right: 100pt;
}
.brand-heading {
	font-family: euro caps;
}

.form_body {
	padding-left: 100pt;
	padding-right: 100pt;
}

section#about {
  padding-top: 40px;

