<div class="form">
	<div class="container">
    <!-- Page Heading -->
	    <div class="row">
	        <div class="col-lg-12">
	        	<h1 class="page-header">
	            What food do you regularly prepare for yourself or others? | 
	            <%= link_to "Back to home", root_path %>
	            </h1>
	        </div>
	    </div>
		<div class= "form_body">
			<%= render 'form' %>
		</div>

	</div>
</div>